{{log isAdminShow}}
{{#if addNewProduct}}
<div>
  <form>
    {{input value=name placeholder="product name"}}
    {{input value=description placeholder="product description"}}
    {{input type='number' value=price placeholder="product price"}}
    <button {{action 'saveProduct'}}>Save</button>
  </form>
</div>
{{else}}
  {{#if shoppingCart.adminShowing}}
    <button {{action 'newProductFormShow'}}>New Product</button>
  {{/if}}
{{/if}}
