{{outlet}}

<h2>Welcome to our Store</h2>
<button {{action 'adminShow'}}>Admin</button>
<ul>
{{#each model.products as |product|}}
  {{product-tile product=product deleteProduct='deleteProduct'}}
{{/each}}
</ul>

{{display-cart}}

{{new-product saveProduct="saveProduct"}}
